<%= form_with(model: atm, local: true) do |form| %>
  <% if atm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atm.errors.count, "error") %> prohibited this atm from being saved:</h2>

      <ul>
      <% atm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
