{% include 'project/header.html' %}
<div id="map" style="height: 100%;"></div>
{% include 'project/footer.html' %}

<script>
function initialize() {
  var myOptions = {
        center: new google.maps.LatLng(14.5995124, 120.9842195),
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP

    };
    var map = new google.maps.Map(document.getElementById('map'), myOptions);

    {% if 'mapp/accidents/' in request.get_full_path or 'mapp/' in request.get_full_path %}
      {% for accident in accidents %}
        createMarker(map, {
          accident_type: "{{accident.accident_type}}",
          report_type: "{{accident.report_type}}",
          status: "{{accident.status}}",
          registration: "{{accident.registration}}",
          craft_type: "{{accident.craft_type}}",
          location: "{{accident.location}}",
          lat: "{{accident.lat}}",
          lon: "{{accident.lon}}"
        }, {{accident.id}}, 'red');
      {% endfor %}
    {% endif %}

    {% if 'mapp/airports/' in request.get_full_path or 'mapp/' in request.get_full_path %}
      {% for airport in airports %}
        createMarker(map, {
          airport_name: "{{airport.airport_name}}",
          operator_name: "{{airport.operator_name}}",
          location: "{{airport.location}}",
          lat: "{{airport.lat}}",
          lon: "{{airport.lon}}"
        }, {{airport.id}}, 'purple');
      {% endfor %}
    {% endif %}

    {% if 'mapp/atms/' in request.get_full_path or 'mapp/' in request.get_full_path %}
      {% for atm in atms %}
        createMarker(map, {
          atm_type: "{{atm.atm_type}}",
          location: "{{atm.location}}",
          amount: "{{atm.amount}}",
          lat: "{{atm.lat}}",
          lon: "{{atm.lon}}"
        }, {{atm.id}}, 'green');
      {% endfor %}
    {% endif %}

    {% if 'mapp/projects/' in request.get_full_path or 'mapp/' in request.get_full_path %}
      {% for project in projects %}
        createMarker(map, {
          project_id: "{{project.project_id}}",
          cost: "{{project.cost}}",
          status: "{{project.status}}",
          fs_type: "{{project.fs_type}}",
          implementing_office: "{{project.implementing_office}}",
          contractor: "{{project.contractor}}",
          location: "{{project.location}}",
          lat: "{{project.lat}}",
          lon: "{{project.lon}}"
        }, "{{project.project_id}}", 'orange');
      {% endfor %}
    {% endif %}

}

function createMarker(map, object, id, icon) {
  var marker = new google.maps.Marker({
    map: map,
    title: object.registration,
    position: new google.maps.LatLng(object.lat, object.lon),
    icon: `http://maps.google.com/intl/en_us/mapfiles/ms/micons/${icon}.png`
  });

  content = `<div class="ui relaxed list">`
  for (var key in object) {
    content += (`<div class="item">
                  <i class="map outline icon"></i>
                  <div class="content">
                    <div class="header">${key.replace(/_/g, ' ')}</div>
                    ${object[key]}
                  </div>
                </div>`);
  }
  content += (`</div>
              <span>
                <a href="{{request.path}}update/${id}" class="ui mini primary basic button">
                  Update
                </a>
                <a class="ui mini negative basic button">
                  Delete
                </a>
              </span>`);

  var infowindow = new google.maps.InfoWindow({
    content: content
  });

  google.maps.event.addListener(marker, 'click', (function(marker, object) {
     return function() {
       infowindow.open(map, marker);
     }
   })(marker, object));
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx2FckJewFGIyuxolBZ1X0IqXpuLgYq6k&callback=initialize">
</script>
