{% include 'project/header.html' %}
<div class="ui middle aligned center aligned grid">
  <div class="five wide column">
    <br><br><br><br><br><br><br> <!-- huhu -->
    <br><br><br> <!-- huhu -->
    <h2 class="ui icon header" style="color: #9ab596;">
      <i class="circular file text outline icon"></i>
      <div class="content">
        Delete a Project
        <div class="sub header">Are you sure you want to delete Project {{ project.project_id }}?</div>
      </div>
    </h2>
    <form action="" method="post" class="ui form">{% csrf_token %}
    <input type="submit" value="Confirm" class="ui large button" style="background-color: #9ab596; color: #ffffff;"/>
  </form>
  </div>
</div>
{% include 'project/footer.html' %}
