{% include 'project/header.html' %}
<div class="ui middle aligned center aligned grid">
  <div class="five wide column">
    <br><br><br> <!-- huhu -->
    <h2 class="ui icon header" style="color: #29343d;">
      <i class="circular refresh icon"></i>
      <div class="content">
        Update Element
        <div class="sub header">Update the info of this element!</div>
      </div>
    </h2>
    <form method="post" class="ui form">
     	{% csrf_token %}
      	{{ form.as_p }}
      <input type="submit" value="Save" class="ui large button" style="background-color: #29343d; color: #ffffff;"/>
    </form>
  </div>
</div>
{% include 'project/footer.html' %}
