<%= form_with(model: progress_report, local: true) do |form| %>
  <% if progress_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progress_report.errors.count, "error") %> prohibited this progress_report from being saved:</h2>

      <ul>
      <% progress_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
